@using Hospital_Management.Models

@model Assistant
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<button class="btn btn-primary mb-3">
    <a style="text-decoration:none" class="text-white" href="/AdminPortal/Assistant/Index">Back to All Assistants</a>
</button>

<div class="container">
    <form asp-action="SaveEdit" asp-controller="Assistant" asp-route-id="@Model.Id" method="post" @* enctype="multipart/form-data" *@>
        <div class="form-group">
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" value="@Model.FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName">LastName</label>
            <input asp-for="LastName" value="@Model.LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BirthDate">BirthDate</label>
            <input asp-for="BirthDate" value="@Model.BirthDate" class="form-control" />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address">Address</label>
            <input asp-for="Address" value="@Model.Address" class="form-control" type="number" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Img">Img</label>
            <input asp-for="Img" value="@Model.Img" class="form-control" type="file" />
            <span asp-validation-for="Img" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
